.DeviceView{
  width: 100%;
  height: 85%;
  padding: 10px;
}

.DeviceViewTable{
  width: 100%;
  height: 90%;
  border-radius: 10px 0 0 10px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid grey;
}

.OsImage{
  height: 90%;
  width: auto;
}

.DeviceElement{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid grey;
  transition: 0.2s;
}
.DeviceElement:hover{
  background-color: #CCCCCC;
}
.DeviceSelected{
  background-color: #80336633;
}
.DeviceElement-Box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.DeviceElement-ID{
  font-size: 1.5rem;
  font-weight: bold;
}