.ItemView{
  width: 100%;
  height: 50vh;
  overflow-y: auto;
  border: 1px solid black;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
}

.ItemElement{
  border-bottom: 1px solid black;
  width: 100%;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
}
.ItemElement:nth-child(odd){
  background-color: #dfdfdf;
}
.ItemViewTable{
  width: 100%;
}
.ItemViewHead{
  background-color: #cccccc;
}