.android {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 65px;
  justify-content: flex-end;
  left: 31px;
  min-width: 51px;
  padding: 19.9px 17.9px;
  position: absolute;
  top: 185px;
}
.background-color-gradient {
  height: 667px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1452px;
}
.box1 {
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 4px 4px rgba(11,0,0,0.25);;
  height: 503px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 894px;
}
.box2 {
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 4px 4px rgba(11,0,0,0.25);;
  height: 507px;
  position: absolute;
  width: 325px;
}
.checkbox1 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  height: 20px;
  left: 758px;
  position: absolute;
  top: 78px;
  width: 20px;
}
.checkbox2 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  height: 20px;
  left: 757px;
  position: absolute;
  top: 133px;
  width: 20px;
}
.checkbox3 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  height: 20px;
  left: 757px;
  position: absolute;
  top: 188px;
  width: 20px;
}
.checkbox4 {
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  height: 20px;
  left: 757px;
  position: absolute;
  top: 252px;
  width: 20px;
}
.checkboxall {
  align-items: flex-end;
  display: flex;
  height: 24px;
  left: 755px;
  padding: 2.0px 2.0px;
  position: absolute;
  top: 27px;
  width: 24px;
}
.delete {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}
.delete-button {
  align-items: center;
  left: 303px;
  min-width: 177px;
  position: absolute;
  top: 438px;
}
.desktop {
  height: 42px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 44px;
}
.expose {
  color: var(--black);
  font-family: 'Roboto', Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 14px;
  letter-spacing: 0.00px;
  margin-right: 1.52px;
  margin-top: 3px;
  min-height: 14px;
  min-width: 42px;
  text-align: center;
}
.expose-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 1359px;
  min-height: 49px;
  position: absolute;
  top: 112px;
  width: 80px;
}
.file {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}
.file-plus-button {
  align-items: flex-start;
  display: flex;
  height: 53px;
  left: 505px;
  min-width: 181px;
  position: absolute;
  top: 438px;
}
.file-select-box {
  align-items: flex-start;
  display: flex;
  height: 503px;
  left: 98px;
  min-width: 902px;
  position: absolute;
  top: 432px;
}
.file-select-button {
  text-align: center;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 25px;
  display: flex;
  height: 81px;
  left: 394px;
  min-width: 299px;
  position: absolute;
  top: 321px;
}
.file1 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 25px;
  left: 58px;
  min-width: 25px;
  position: absolute;
  top: 255px;
}
.folder {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}
.folder-plus-button {
  align-items: flex-start;
  display: flex;
  height: 53px;
  left: 712px;
  min-width: 184px;
  position: absolute;
  top: 438px;
}
.folder1 {
  align-items: flex-start;
  display: flex;
  height: 32px;
  left: 55px;
  position: absolute;
  top: 77px;
  width: 32px;
}
.folder1-txt {
  height: 48px;
  left: 100px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 64px;
  width: 347px;
}
.file2-txt {
  height: 48px;
  left: 122px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 115px;
  width: 347px;
}
.file3-txt {
  height: 48px;
  left: 122px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 173px;
  width: 347px;
}
.file1-txt {
  height: 48px;
  left: 100px;
  letter-spacing: 0.00px;
  position: absolute;
  top: 243px;
  width: 347px;
}
.id1 {
  left: 86px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 101px;
}
.id2 {
  left: 82px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 116px;
  width: 101px;
}
.id3 {
  left: 86px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 191px;
  width: 101px;
}
.android-inside {
  height: 20px;
  object-fit: cover;
  width: 15px;
}
.iphone-inside {
  height: 17px;
  object-fit: cover;
  width: 16px;
}
.iphone {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 65px;
  justify-content: flex-end;
  left: 31px;
  min-width: 51px;
  padding: 22px 17px;
  position: absolute;
  top: 109px;
}
.language-select-button {
  align-items: flex-start;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  left: 1382px;
  min-width: 32px;
  position: absolute;
  top: 186px;
}
.overlap-group {
  height: 936px;
  position: relative;
  width: 1452px;
}
.button2 {
  height: 81px;
  width: 207px;
  display: flex;
  align-items: center;
  background-color: #F9AC19;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.button1 {
  align-items: center;
  background-color:#F9AC19;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  display: flex;
  height: 81px;
  width: 297px;
}

.expose-button {
  background-size: 100% 100%;
  height: 31px;
  margin-right: 1.76px;
  position: relative;
  width: 78px;
}
.id3-ip {
  left: 90px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 227px;
  width: 101px;
}
.id2-ip {
  left: 86px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 152px;
  width: 101px;
}
.id1-ip {
  left: 90px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 71px;
  width: 101px;
}
.send {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 23px;
}
.button3{
  display: flex;
  align-items: center;
  background-color: #F9AC19;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  height: 53px;
  width: 175px;
}
.scroll-bar1-inside {
  background-color: #F9AC19;
  border-radius: 10.5px;
  height: 75px;
  width: 20px;
}
.scroll-bar2-inside {
  background-color: #F9AC19;
  border-radius: 10.5px;
  height: 75px;
  width: 20px;
}
.scan {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 25px;
}
.scan-box {
  align-items: flex-start;
  display: flex;
  height: 507px;
  left: 1080px;
  min-width: 337px;
  position: absolute;
  top: 429px;
}
.scan-button {
  left: 1139px;
  position: absolute;
  top: 330px;
}
.scroll-bar1 {
  align-items: flex-start;
  border-radius: 10.5px;
  background-color: rgb(233, 233, 233);
  display: flex;
  height: 325px;
  left: 830px;
  min-width: 28px;
  padding: 7px 5px;
  position: absolute;
  top: 61px;
}
.scroll-bar2 {
  align-items: flex-start;
  border-radius: 10.5px;
  background-color: rgb(233, 233, 233);
  display: flex;
  height: 447px;
  left: 295px;
  min-width: 30px;
  padding: 7px 5px;
  position: absolute;
  top: 30px;
}
.selectbox {
  background-color: rgba(249,172,24,0.41);
  height: 80px;
  left: 0px;
  position: absolute;
  top: 98px;
  width: 325px;
}
.send-button {
  margin-right: 104px;
  margin-top: 24px;
}
.sendbox {
  display: flex;
  align-items: center;
  background-color: #F9AC19;
  border-radius: 24px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  height: 52px;
  width: 207px;
}
.setting {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 49px;
  left: 1374px;
  min-width: 48px;
  padding: 10.1px 9.6px;
  position: absolute;
  top: 38px;
}
.info {
  color: white;
  font-family: 'Roboto', Helvetica;
  font-size: 49px;
  font-weight: 700;
  height: 114px;
  left: 598px;
  position: absolute;
  text-align: center;
  top: 188px;
}
.file-select {
  text-align: center;
  margin: 0 auto;
}
.title {
  color: rgba(0,0,0,0.79);
  font-family: 'Roboto', Helvetica;
  font-size: 64px;
  font-weight: 700;
  left: 584px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 85px;
}
.vector {
  height: 15px;
  left: 2px;
  position: absolute;
  top: 7px;
  width: 26px;
}
.vector-1 {
  height: 25px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 25px;
}
.vector-10 {
  height: 20px;
  width: 20px;
}
.vector-2 {
  height: 7px;
  left: 4px;
  position: absolute;
  top: 14px;
  width: 17px;
}
.vector-3 {
  height: 26px;
  left: 0px;
  position: absolute;
  top: 6px;
  width: 21px;
}
.vector-4 {
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.vector-5 {
  height: 13px;
  left: 13px;
  position: absolute;
  top: 0px;
  width: 11px;
}
.vector-6 {
  height: 24px;
  margin-left: 1px;
  margin-top: -0.22px;
  width: 7px;
}
.vector-7 {
  height: 26px;
  left: 51px;
  position: absolute;
  top: 5px;
  width: 27px;
}
.vector-8 {
  height: 31px;
  left: 46px;
  position: absolute;
  top: 0px;
  width: 32px;
}
.vector-9 {
  height: 28px;
  width: 28px;
}
.view {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
  border: 0.1px solid;
}
.file2 {
  align-items: center;
  display: flex;
  height: 30px;
  left: 86px;
  padding: 0 4.5px;
  position: absolute;
  top: 126px;
  width: 29px;
}
.file3 {
  align-items: center;
  display: flex;
  height: 30px;
  left: 86px;
  padding: 0 4.5px;
  position: absolute;
  top: 182px;
  width: 29px;
}
.vector-11 {
  height: 27px;
  width: 20px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:700,100");
* {
  box-sizing: border-box;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
